version: '3.8'

services:
  app:
    build: .
    ports:
      - "${APP_PORT}:8000"
    env_file:
      - .env                 # все переменные Laravel попадут в контейнер
    volumes:
      - .:/var/www
    depends_on:
      - db
    command: make start